@import "Styles/utils/defaults";
@import "Styles/utils/mixins";

$closeSize: 40px;
$padding: 12px;
$largePadding: 24px;

.incident {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.close {
  @include cleanButton();
  @include clickable();
  flex: 0 1 $closeSize;
  height: $closeSize;
  font-size: $fontSizeEL;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  padding: $largePadding;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 12px;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);

  h1 {
    flex: 1 0;
    line-height: $closeSize;
  }

  @include breakpoint(largerPhones) {
    padding: $padding;
  }
}

.incidentInfo {
  padding: 0 $largePadding $largePadding;
  box-sizing: border-box;

  @include breakpoint(largerPhones) {
    padding: 0 $padding $padding;
  }
}
