@import "Styles/utils/mixins";

.photos {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 8px;
}

.photo {
  max-width: 50%;
  img {
    width: 100%;
    padding-top: 8px;
    box-sizing: border-box;
  }

  @include breakpoint(780px) {
    max-width: 100%;
  }
}
