@font-face {
  font-family: 'Segoe UI';
  font-weight: 200;
  src: local('Segoe UI Light'), local('SegoeUI-Light'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/light/latest.woff2') format('woff2'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/light/latest.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 300;
  src: local('Segoe UI Semilight'), local('SegoeUI-Semilight'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semilight/latest.woff2') format('woff2'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semilight/latest.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 400;
  src: local('Segoe UI'), local('SegoeUI'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/normal/latest.woff2') format('woff2'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/normal/latest.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 600;
  src: local('Segoe UI Semibold'), local('SegoeUI-Semibold'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semibold/latest.woff2') format('woff2'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semibold/latest.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 700;
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/bold/latest.woff2') format('woff2'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/bold/latest.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 200;
  src: local('Segoe UI Light Italic'), local('SegoeUI-LightItalic'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/light-italic/latest.woff2') format('woff2'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/light-italic/latest.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 300;
  src: local('Segoe UI Semilight Italic'), local('SegoeUI-SemilightItalic'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semilight-italic/latest.woff2') format('woff2'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semilight-italic/latest.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 400;
  src: local('Segoe UI Italic'), local('SegoeUI-Italic'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/italic/latest.woff2') format('woff2'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/italic/latest.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 600;
  src: local('Segoe UI Semibold Italic'), local('SegoeUI-SemiboldItalic'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semibold-italic/latest.woff2') format('woff2'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/semibold-italic/latest.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 700;
  src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/bold-italic/latest.woff2') format('woff2'), url('//c.s-microsoft.com/static/fonts/segoe-ui/cyrillic/bold-italic/latest.woff') format('woff');
}
