$text: #222;
$lighterText: #333;
$grey: #808080;
$middleGrey: #b6b6b6;

// Из контур гайдов
//$brand: #084f85;
//$brand1: #1363a0;
//$brand2: #1e79be;
//$brand3: #3094d0;
//$brand4: #cae5f5;
$brand: #c6f1eb;
$brand1: #0cc0f4;
$brand2: #00aa90;
$brand3: #038c77;
$brand4: #006d5d;

// Для сущностей
$okpd: #dadada;
$ktruActual: #c6f1eb;
$ktruNotActual: #ffd7d7;

$errorRed: #ce0014;

$bg: #f2f2f2;
$green: #31b79a;
$greenHover: #38caaa;
$greenActive: #2faf93;
$red: #dc0000;
$yellow: #ffedb5;
$darkYellow: #ff8400;
$blue: #08c;
$darkBlue: #069;
$lightBlue: #f1f8fd;

$navLink: #1689c5;

$link: #1589ca;
$linkVisited: #824de2;
$linkActive: #044785;

$darkGrey: #404040;
$lightGrey: #f6f5f6;
$focusBorder: #5199db;
$border: #e4e4e4;
$br: #ccc;
