@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Title</title>

    <link rel="stylesheet" href="/Content/dist/css/app.css"/>
</head>
<body>
<div id="root">
    Please wait.
</div>
<script src="/Content/dist/js/app.js"></script>
</body>
</html>
