@import "Styles/utils/defaults";
@import "Styles/utils/mixins";
@import "Styles/utils/colors";
@import "Styles/utils/zIndexes";

$menuButtonSize: 40px;

.root {
  position: fixed;
  z-index: $buttonsBarZIndex;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.topleft {
  top: 0;
  left: 0;
}

.topright {
  right: 0;
  top: 0;
}

.menuButton {
  @include cleanButton();
  @include clickable();
  background-color: $bg;
  width: $menuButtonSize;
  height: $menuButtonSize;
  border-radius: $menuButtonSize;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.menuButton {
  .open,
  .close {
    transition: left 0.3s ease-in-out;
  }
  .open {
    position: absolute;
    left: 4px;
    top: 0;
  }
  .close {
    position: absolute;
    left: 7px+$menuButtonSize;
    top: 3px;
    font-size: 21px;
  }
}

.root.opened {
  .menuButton {
    .open {
      left: 4px - $menuButtonSize;
    }
    .close {
      left: 7px;
    }
  }
}

.menu {
  padding: ($menuButtonSize+8px) 0 8px;
  position: absolute;
  transform: scale(0);
  transform-origin: 100% 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: $bg;
  z-index: 0;
}

.menu.topleft {
  top: 10px;
  left: 10px;
}

.menu.topright {
  top: 10px;
  right: 10px;
}

.root.opened {
  .menu {
    transform: scale(1);
    opacity: 1;
  }
}

.pageName {
  font-size: $fontSizeM;
}
