@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/Content/dist/css/app.css"/>
</head>
<body>
<div id="root">
    React should mount here
</div>
<script src="/Content/dist/js/app.js"></script>
</body>
</html>
